@use "fonts/Codicon";

html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  h1 {
    font-size: 3rem;
  }

  // Set background to darker color when not in VS Code
  &:not([data-vscode-theme-kind]) {
    background-color: #1e2025;
    color: white;
    font-family: var(--font-family);
  }

  button {
    background: none;
    border: none;
    border-radius: 5px;
    padding: 3px;
    color: inherit;

    &:hover {
      background: rgba(90, 93, 94, 0.31);
      cursor: pointer;
    }
  }
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: var(--lh);
  max-height: calc(var(--lines) * var(--lh) * 1.1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
}
